@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Montserrat+Alternates:200i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  
  background-color: #541388;
  color: #F1E9DA;
  /*#AD1989 light purple
  #88B04B turtle green
  #541388 darker purple
  #F1E9DA eggshell
  #2E294E dark blue*/
  /*FF6666*/
}

div {
	/*outline: 2px solid #AD1989;*/
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1, h2 {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 15px;
}

.login {
  padding-top: 50px;
}

.login button, .mode .btn-group {
  margin-top: 20px;
}

.title {
  background-color: #88B04B;
  padding: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  /*font-size: 60px;*/
}

.purple {
  color: #AD1989;
}

.green {
  color: #88B04B;
}

.dark-purple {
  color: #541388;
}

.user {
  background-color: #AD1989;
  padding: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  /*font-size: 45px;*/
}

.mode {
  padding: 20px 0;
}

.lower-content {
  padding-top: 20px;
}

.top-btn {
  margin-bottom: 20px;
}

.btn-custom {
  color: #F1E9DA;
  background-color: #88B04B;
  border-color: #F1E9DA;
}

.btn-custom:focus,
.btn-custom.focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom.active,
.btn-custom:active:hover,
.btn-custom.active:hover,
.btn-custom:active:focus,
.btn-custom.active:focus,
.btn-custom:active,
.btn-custom.active {
  color: #F1E9DA;
  background-color: #AD1989;
  border-color: #F1E9DA;
}

.input-custom {
  color: #2E294E;
  background-color: #F1E9DA;
}

.saveSection {
  height: 105px;
}

.saveSection h3 {
  margin: 0;
}

.result-track {
  padding-bottom: 10px;
  padding-top: 10px;
  min-height: 64px;
  border-top: 1px solid #F1E9DA;
  /*background: linear-gradient(#2E294E,#2E294E);*/
}

.result-track p {
  margin: 0;
}

.result-track-text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 64px;
}

.top-tracks {
  padding-bottom:40px;
}

.top-track-text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:150px;
}

.App {
  text-align: center;
}